.settings
.DS_store
build/*
build/*
build
bin/
bin/*
target/*
*/target/*
*/build/*
out/*
*/out/*
gradlew
gradlew.bat
/gradle
.gradle
.idea
/.gradle-wrapper/gradle-wrapper.jar
/.gradle-wrapper/gradle-wrapper.properties